TZ=America/Phoenix
TRAEFIK_HOST=weschance.com
N8N_INSTANCE_AI_MODEL=GPT 5.4
SANDBOX_API_KEY=__GENERATE__
SANDBOX_RUNNER_API_KEY=__GENERATE__
SANDBOX_RUNNER_REGISTRATION_TOKEN=__GENERATE__
TRAEFIK_SUBDOMAIN=n8n
N8N_INSTANCE_AI_MODEL_API_KEY=__EXTERNAL__
